/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

body
{
	background: #98785a url(http://www.brandneusense.com/img/bgbody.jpg) 50% 0;
}



.navigation .primary-menu ul li.first a {
    border-left: 1px solid #000;
}

.navigation .primary-menu ul li a {
    border: 1px solid #000;
}

.navigation .primary-menu ul li.last a {
    border-right: 1px solid #000;
}

.navigation .primary-menu ul li.first a.active {
    border-left: 1px solid #fff;
}

.navigation .primary-menu ul li.last a.active {
    border-right: 1px solid #fff;
}

.site-slogan {
    font-weight: normal;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    color: #AAD7E1;
    font-style: initial;
}

.page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_billing .locality-block .form-item, .page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_shipping .locality-block .form-item, .page-checkout #commerce-checkout-form-review fieldset.customer_profile_billing .locality-block .form-item, .page-checkout #commerce-checkout-form-review fieldset.customer_profile_shipping .locality-block .form-item {
	width:100%;
}
.page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_billing .locality-block .form-item label, .page-checkout #commerce-checkout-form-checkout fieldset.customer_profile_shipping .locality-block .form-item label, .page-checkout #commerce-checkout-form-review fieldset.customer_profile_billing .locality-block .form-item label, .page-checkout #commerce-checkout-form-review fieldset.customer_profile_shipping .locality-block .form-item label
{
	width:20%;
	float:left;
}
/*.element-invisible*/
.form-item-customer-profile-billing-commerce-customer-address-und-0-premise input {
	
	margin:1px 1px 1px 20%;
}

div.error {
    background-image: url(http://localhost/~brianblackie/kickstart/sites/all/themes/mytheme/images/message-24-error.png);
    border-color: #ed541d;
    border-radius: 8px;
}

#locationmap_map
{
	margin-left: 40px;
}

.view-collection-products .view-header, .view-collection-taxonomy-term .view-header {
    background-color: #cbc9c9;
}

.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links {
    background-color: #00AB90;
}



  .page-user a.login-register,
  .page-user a.login-account,
  .page-checkout a.login-register,
  .page-checkout a.login-account {
    background: #207cca;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00ab90), color-stop(1, #207cca));
    background: -moz-linear-gradient(top center, #00ab90 0%, #00ab90 100%);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    margin-left: 0px;
    padding: 15px 20px; }
    .page-user a.login-register:hover,
    .page-user a.login-account:hover,
    .page-checkout a.login-register:hover,
    .page-checkout a.login-account:hover {
      background: #27CEB2; }

        .page-user #user-register-form .form-submit,
  .page-user #user-profile-form .form-submit,
  .page-user #user_login_form .form-submit,
  .page-user #user_pass_form .form-submit,
  .page-checkout #user-register-form .form-submit,
  .page-checkout #user-profile-form .form-submit,
  .page-checkout #user_login_form .form-submit,
  .page-checkout #user_pass_form .form-submit {
    background: #199107;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00ab90), color-stop(1, #199107));
    background: -moz-linear-gradient(top center, #00ab90 0%, #00ab90 100%);
    border: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px 15px; }
    .page-user #user-register-form .form-submit:hover,
    .page-user #user-profile-form .form-submit:hover,
    .page-user #user_login_form .form-submit:hover,
    .page-user #user_pass_form .form-submit:hover,
    .page-checkout #user-register-form .form-submit:hover,
    .page-checkout #user-profile-form .form-submit:hover,
    .page-checkout #user_login_form .form-submit:hover,
    .page-checkout #user_pass_form .form-submit:hover {
      background: #27CEB2; }



 .page-user form#user-login #user_login_form .login-password, .page-checkout form#user-login #user_login_form .login-password {
    color: #00ab90;
}
a:link, a:visited {
    color: #00ab90;
    text-decoration: none;
}

      .page-user form#user-login #user_login_form .login-password,
      .page-checkout form#user-login #user_login_form .login-password {
        color: #00ab90; }
        .page-user form#user-login #user_login_form .login-password:hover,
        .page-checkout form#user-login #user_login_form .login-password:hover {
          color: #00ab90;
          /*text-decoration: underline;*/ }

.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {
    background-color: #00ab90;
}

.navigation .primary-menu ul li a.active {
    color: #00ab90;
}

.navigation .second-menu ul li a.active {
    color: #00ab90;
}

#region-user-second {
    height: 34px;
}

.zone-user-wrapper {
    height: 40px;
}

#block-views-exp-display-products-page {
    float: left;
    padding-top: 0px;
}

