#storelocator-admin-settings #edit-storelocator-info-format,
#storelocator-admin-settings #edit-storelocator-body-format,
#storelocator-admin-settings #edit-storelocator-footer-format {
  padding-top: 0;
  padding-bottom: 0;
  float: right;
  }
	
#storelocator-admin-settings #edit-storelocator-info-format .form-item,
#storelocator-admin-settings #edit-storelocator-body-format .form-item,
#storelocator-admin-settings #edit-storelocator-footer-format .form-item {
  display: block;
  float: right;
  margin-top: 6px;
}

#storelocator-admin-settings .filter-guidelines,
#storelocator-admin-settings #edit-storelocator-info-format-help,
#storelocator-admin-settings #edit-storelocator-body-format-help,
#storelocator-admin-settings #edit-storelocator-footer-format-help {
  display: none;
}

#storelocator-admin-settings .text-format-wrapper {
  padding-bottom: 2em;
}
